/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: AppleSystemUIFont;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*以下開始*/
.container{
    width: 1024px;
    margin: 0 auto;
}

/* 輸入區 */

.head {
    background: #424242;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

/* Logo */

.logoBMI {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixBMIlocation{
    width: 64px;
    height: 32px;
    margin-right: 30px;
}

/* Input area */
.inputData {
    width: 30%;
    text-align: center;   
    margin-right: 20px; 
}

.inputContent {
    font-size: 20px;
    color: #FFD366;
    margin-left: 30px;
    text-align: initial;
}

.inputHeight {
    width: 210px;
    border: #FFD366 solid 2px;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    background: rgb(100, 100, 100);
    line-height: 20px;
    color: #fff;
}

.inputWeight {
    width: 210px;
    border: #FFD366 solid 2px;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    background: rgb(100, 100, 100);
    line-height: 20px;
    color: #fff;
}

::placeholder {
    font-family: AppleSystemUIFont;
    color: rgb(176, 176, 176)
}

/* Button Area */

.sendData {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sendBtn{
    width: 120px;
    height: 120px;
    background: #FFD366;
    border-radius: 90px;
    text-align: center;
    line-height: 120px;
    cursor: pointer;
    border: 6px solid transparent;
}

.sendBtn:hover{
    box-shadow: 0px 0px 20px #FFC431;
}

.sendBtn:active{
    background: #DEA921;
    box-shadow: none;
}

.sendBtnText{
    color: #424242;
    width: 73px;
    height: 24px;
    font-size: 24px;
}

.fixBtnlocation{
    width: 132px;
    height: 32px;
    margin-left: 15px;
    /* border: 1px solid white; */
}


/* 按鈕效果，點選後變換樣式 */
/* 理想 */

.sendBtn1{
    width: 120px;
    height: 120px;
    background: #424242;
    border-radius: 90px;
    text-align: center;
    line-height: 120px;

    border: 6px solid #86D73F;

    position:relative;

}

.sendBtnBMI1{
    width: 86px;
    height: 32px;
    color: #86D73F;
    font-size: 32px;
    padding-left: 15px;
}


.sendBtnText1{
    width: 25px;
    height: 14px;
    color: #86D73F;
    padding-left: 15px;
}

.sendBtnText1{
    width: 86px;
    height: 32px;
    color: #86D73F;
    font-size: 14px;
}

.sendBtnImg1{
    width: 30px;
    height: 30px;
    background: #86D73F;
    border-radius: 90px;
    border: #424242 4px solid;

    display: flex;
    justify-content: center;
    align-items: center;

    position:absolute;
    bottom:0;
    right:0;

    cursor: pointer;
}

.sendBtnImg1:hover{
    box-shadow: 0px 0px 15px #86D73F;
}


.fixBtnlocation1{
    width: 132px;
    height: 32px;
    margin-left: 15px;
    text-align: left;
    color: #86D73F;
    font-size: 32px;
    font-weight: bold;
}

/* 過輕  #31BAF9*/

.sendBtn2{
    width: 120px;
    height: 120px;
    background: #424242;
    border-radius: 90px;
    text-align: center;
    line-height: 120px;

    border: 6px solid #31BAF9;

    position:relative;

}

.sendBtnBMI2{
    width: 86px;
    height: 32px;
    color: #31BAF9;
    font-size: 32px;
    padding-left: 15px;
}


.sendBtnText2{
    width: 25px;
    height: 14px;
    color: #31BAF9;
    padding-left: 15px;
}

.sendBtnText2{
    width: 86px;
    height: 32px;
    color: #31BAF9;
    font-size: 14px;
}

.sendBtnImg2{
    width: 30px;
    height: 30px;
    background: #31BAF9;
    border-radius: 90px;
    border: #424242 4px solid;

    display: flex;
    justify-content: center;
    align-items: center;

    position:absolute;
    bottom:0;
    right:0;
    cursor: pointer;
}

.sendBtnImg2:hover{
    box-shadow: 0px 0px 15px #31BAF9;
}


.fixBtnlocation2{
    width: 132px;
    height: 32px;
    margin-left: 15px;
    text-align: left;
    color: #31BAF9;
    font-size: 32px;
    font-weight: bold;
}

/* 過重 #FF982D */

.sendBtn3{
    width: 120px;
    height: 120px;
    background: #424242;
    border-radius: 90px;
    text-align: center;
    line-height: 120px;

    border: 6px solid #FF982D;

    position:relative;

}

.sendBtnBMI3{
    width: 86px;
    height: 32px;
    color: #FF982D;
    font-size: 32px;
    padding-left: 15px;
}


.sendBtnText3{
    width: 25px;
    height: 14px;
    color: #FF982D;
    padding-left: 15px;
}

.sendBtnText3{
    width: 86px;
    height: 32px;
    color: #FF982D;
    font-size: 14px;
}

.sendBtnImg3{
    width: 30px;
    height: 30px;
    background: #FF982D;
    border-radius: 90px;
    border: #424242 4px solid;

    display: flex;
    justify-content: center;
    align-items: center;

    position:absolute;
    bottom:0;
    right:0;
    cursor: pointer;
}

.sendBtnImg3:hover{
    box-shadow: 0px 0px 15px #FF982D;
}


.fixBtnlocation3{
    width: 132px;
    height: 32px;
    margin-left: 15px;
    text-align: left;
    color: #FF982D;
    font-size: 32px;
    font-weight: bold;
}

/* 輕度肥胖 #FF6C02*/

.sendBtn4{
    width: 120px;
    height: 120px;
    background: #424242;
    border-radius: 90px;
    text-align: center;
    line-height: 120px;

    border: 6px solid #FF6C02;

    position:relative;

}

.sendBtnBMI4{
    width: 86px;
    height: 32px;
    color: #FF6C02;
    font-size: 32px;
    padding-left: 15px;
}


.sendBtnText4{
    width: 25px;
    height: 14px;
    color: #FF6C02;
    padding-left: 15px;
}

.sendBtnText4{
    width: 86px;
    height: 32px;
    color: #FF6C02;
    font-size: 14px;
}

.sendBtnImg4{
    width: 30px;
    height: 30px;
    background: #FF6C02;
    border-radius: 90px;
    border: #424242 4px solid;

    display: flex;
    justify-content: center;
    align-items: center;

    position:absolute;
    bottom:0;
    right:0;
    cursor: pointer;
}

.sendBtnImg4:hover{
    box-shadow: 0px 0px 15px #FF6C02;
}


.fixBtnlocation4{
    width: 132px;
    height: 32px;
    margin-left: 15px;
    text-align: left;
    color: #FF6C02;
    font-size: 32px;
    font-weight: bold;
}

/* 中度肥胖 #FF6C02*/
.sendBtn5{
    width: 120px;
    height: 120px;
    background: #424242;
    border-radius: 90px;
    text-align: center;
    line-height: 120px;

    border: 6px solid #FF6C02;

    position:relative;

}

.sendBtnBMI5{
    width: 86px;
    height: 32px;
    color: #FF6C02;
    font-size: 32px;
    padding-left: 15px;
}


.sendBtnText5{
    width: 25px;
    height: 14px;
    color: #FF6C02;
    padding-left: 15px;
}

.sendBtnText5{
    width: 86px;
    height: 32px;
    color: #FF6C02;
    font-size: 14px;
}

.sendBtnImg5{
    width: 30px;
    height: 30px;
    background: #FF6C02;
    border-radius: 90px;
    border: #424242 4px solid;

    display: flex;
    justify-content: center;
    align-items: center;

    position:absolute;
    bottom:0;
    right:0;
    cursor: pointer;
}

.sendBtnImg5:hover{
    box-shadow: 0px 0px 15px #FF6C02;
}


.fixBtnlocation5{
    width: 132px;
    height: 32px;
    margin-left: 15px;
    text-align: left;
    color: #FF6C02;
    font-size: 32px;
    font-weight: bold;
}


/* 重度肥胖 #FF1200 */
.sendBtn6{
    width: 120px;
    height: 120px;
    background: #424242;
    border-radius: 90px;
    text-align: center;
    line-height: 120px;

    border: 6px solid #FF1200;

    position:relative;

}

.sendBtnBMI6{
    width: 86px;
    height: 32px;
    color: #FF1200;
    font-size: 32px;
    padding-left: 15px;
}


.sendBtnText6{
    width: 25px;
    height: 14px;
    color: #FF1200;
    padding-left: 15px;
}

.sendBtnText6{
    width: 86px;
    height: 32px;
    color: #FF1200;
    font-size: 14px;
}

.sendBtnImg6{
    width: 30px;
    height: 30px;
    background: #FF1200;
    border-radius: 90px;
    border: #424242 4px solid;

    display: flex;
    justify-content: center;
    align-items: center;

    position:absolute;
    bottom:0;
    right:0;
    cursor: pointer;
}

.sendBtnImg6:hover{
    box-shadow: 0px 0px 15px #FF1200;
}


.fixBtnlocation6{
    width: 132px;
    height: 32px;
    margin-left: 15px;
    text-align: left;
    color: #FF1200;
    font-size: 32px;
    font-weight: bold;
}

/*-----------------------------*/
/* 資料區 */
.resultArea {
    background: rgb(245, 245, 245);
    width: 100%;
    height: 100%;
}

.listTitle{
    margin: auto;
    padding: 20px 0;
    color: #424242;
    font-size: 36px;
    text-align: center;
}


.resultBar {
    width: 907px;
    margin: auto;
    overflow: hidden;
}

.resultBar li{
    margin: 20px;
    background: white;
}

.resultShow{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.currentTime{
    width: 25%;
    text-align: center;
    line-height: 62px;
    font-size: 12px;
    color: #4A4A4A;
    margin: 0 21px;
}

.deleteBtn{
    width: 24px;
    border: black solid 1px;
    border-radius: 90px;
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
}


/* 分類 */
/* 理想 */
.resultColor1{
    width: 7px;
    height: 62px;
    background: #86D73F;
    float: left;
}

.resultTitle1{
    width: 18%;
    text-align: left;
    line-height: 62px;
    font-size: 20px;
    color: #4A4A4A;
    padding-left: 20px;
    font-weight: bold;
}

.resultHeight1{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}

.resultWeight1{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}

.resultBMI1{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}


.resultUnit1{
    width: 50%;
    text-align: right;
    line-height: 62px;
    font-size: 12px;
    color: #4A4A4A;
}

.resultFigure1{
    width: 50%;
    text-align: left;
    line-height: 62px;
    font-size: 20px;
    color: #4A4A4A;
    margin: 0 20px 0 7px;
}


/* 過輕 */
.resultColor2{
    width: 7px;
    height: 62px;
    background: #31BAF9;
    float: left;
}

.resultTitle2{
    width: 18%;
    text-align: left;
    line-height: 62px;
    font-size: 20px;
    color: #4A4A4A;
    padding-left: 20px;
    font-weight: bold;
}

.resultHeight2{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}

.resultWeight2{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}

.resultBMI2{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}


.resultUnit2{
    width: 50%;
    text-align: right;
    line-height: 62px;
    font-size: 12px;
    color: #4A4A4A;
}

.resultFigure2{
    width: 50%;
    text-align: left;
    line-height: 62px;
    font-size: 20px;
    color: #4A4A4A;
    margin: 0 20px 0 7px;
}



/* 過重 */
.resultColor3{
    width: 7px;
    height: 62px;
    background: #FF982D;
    float: left;
}

.resultTitle3{
    width: 18%;
    text-align: left;
    line-height: 62px;
    font-size: 20px;
    color: #4A4A4A;
    padding-left: 20px;
    font-weight: bold;
}

.resultHeight3{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}

.resultWeight3{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}

.resultBMI3{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}


.resultUnit3{
    width: 50%;
    text-align: right;
    line-height: 62px;
    font-size: 12px;
    color: #4A4A4A;
}

.resultFigure3{
    width: 50%;
    text-align: left;
    line-height: 62px;
    font-size: 20px;
    color: #4A4A4A;
    margin: 0 20px 0 7px;
}

/* 輕度肥胖 */
.resultColor4{
    width: 7px;
    height: 62px;
    background: #FF6C02;
    float: left;
}

.resultTitle4{
    width: 18%;
    text-align: left;
    line-height: 62px;
    font-size: 20px;
    color: #4A4A4A;
    padding-left: 20px;
    font-weight: bold;
}

.resultHeight4{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}

.resultWeight4{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}

.resultBMI4{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}


.resultUnit4{
    width: 50%;
    text-align: right;
    line-height: 62px;
    font-size: 12px;
    color: #4A4A4A;
}

.resultFigure4{
    width: 50%;
    text-align: left;
    line-height: 62px;
    font-size: 20px;
    color: #4A4A4A;
    margin: 0 20px 0 7px;
}

/* 中度肥胖 */
.resultColor5{
    width: 7px;
    height: 62px;
    background: #FF6C02;
    float: left;
}

.resultTitle5{
    width: 18%;
    text-align: left;
    line-height: 62px;
    font-size: 20px;
    color: #4A4A4A;
    padding-left: 20px;
    font-weight: bold;
}

.resultHeight5{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}

.resultWeight5{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}

.resultBMI5{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}


.resultUnit5{
    width: 50%;
    text-align: right;
    line-height: 62px;
    font-size: 12px;
    color: #4A4A4A;
}

.resultFigure5{
    width: 50%;
    text-align: left;
    line-height: 62px;
    font-size: 20px;
    color: #4A4A4A;
    margin: 0 20px 0 7px;
}

/* 重度肥胖 */
.resultColor6{
    width: 7px;
    height: 62px;
    background: #FF1200;
    float: left;
}

.resultTitle6{
    width: 18%;
    text-align: left;
    line-height: 62px;
    font-size: 20px;
    color: #4A4A4A;
    padding-left: 20px;
    font-weight: bold;
}

.resultHeight6{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}

.resultWeight6{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}

.resultBMI6{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 21px;
}


.resultUnit6{
    width: 50%;
    text-align: right;
    line-height: 62px;
    font-size: 12px;
    color: #4A4A4A;
}

.resultFigure6{
    width: 50%;
    text-align: left;
    line-height: 62px;
    font-size: 20px;
    color: #4A4A4A;
    margin: 0 20px 0 7px;
}


/* 底部Bar */
.bottomBar{
    width: 100%;
    height: 90px;
    background: #FFD366;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logoBottom{
    width: 55px;
    height: 55px;
    margin: auto;
    /* border: solid 2px #424242; */
}

/* .pic {
    background-image: url("BMICLogo.png"), linear-gradient(#424242, #424242);
    background-blend-mode: lighten;
    background-size: cover;
} */

.pic {
    width: 55px;
    height: 55px;
    filter: brightness(35%);
    -webkit-filter: brightness(35%);
}